/* GLOBAL STYLES
-------------------------------------------------- */

html, body {
  height: 100%;
  color: #5a5a5a;
}

body {
    background: linear-gradient(
                     rgba(0,0,0, .75), 
                     rgba(0,0,0, .75)),
                     url('../img/index-background.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* MAPBOX STUFF
-------------------------------------------------- */
#map {
    height: 100%;
    width: 50%;
}

#features {
    width: 50%;
    margin-left: 50%;
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.5) !important;
}

section {
    height: 100%;
    border-bottom: 0px solid #5a5a5a;
    opacity: 1;
    font-size: 13px;
}

section .inner-section {
  padding: 20%;
  text-align: center;
  vertical-align: middle;
}

.right-divider {
  border-right: 1px solid #444;
}

section > .inner-section h2, h3, h5 {
  color: #EAEAEA
}

.inner-section > .table td {
  color: #EAEAEA
}

/* AFFIX STUFF
-------------------------------------------------- */
.affix-top {
  position: absolute;
}

.affix {
  top: 0px;
  width: 100%;
}

.affix-bottom {
  position: absolute;
}

/* BACKGROUND GRADIENT
-------------------------------------------------- */
.background-gradient {
  background: linear-gradient(to bottom, #00c8ff 0%, #12566a 100%);
}

/* BUTTON FULL GRADIENT
-------------------------------------------------- */
.btn-full-gradient {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #12566A;
  *background-color: #12566A;
  background-image: -moz-linear-gradient(top, #00C8FF, #12566A);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00C8FF), to(#12566A));
  background-image: -webkit-linear-gradient(top, #00C8FF, #12566A);
  background-image: -o-linear-gradient(top, #00C8FF, #12566A);
  background-image: linear-gradient(to bottom, #00C8FF, #12566A);
  background-repeat: repeat-x;
  border-color: #12566A;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00C8FF', endColorstr='#12566A', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-full-gradient:hover,
.btn-full-gradient:focus,
.btn-full-gradient:active,
.btn-full-gradient.active,
.btn-full-gradient.disabled,
.btn-full-gradient[disabled] {
  color: #FFFFFF;
  background-color: #12566A;
  *background-color: #003bb3;
}

/* OUTLINE BUTTONS
-------------------------------------------------- */
.btn.outline {
    background: none;
    border-radius: 0;
}

.btn-primary .outline {
    border: 2px solid #0099cc;
    color: #0099cc;
    background: -webkit-linear-gradient(top, #00c8ff, #12566a);
  background: linear-gradient(top, #00c8ff, #12566a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #fff;
    color: #fff;
    box-shadow: none;
}

/* LATEST MEDIA
-------------------------------------------------- */
.latest-media h1, h4, h6 {
  color: #FFF;
}

.latest-media h5 {
  color: #AAA;
}

.text-gradient {
  background: -webkit-linear-gradient(top, #00c8ff, #12566a);
  background: linear-gradient(top, #00c8ff, #12566a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LATEST RESULT
-------------------------------------------------- */

.latest-results h1, h4, h6 {
  color: #FFF;
}

.latest-results h5 {
  color: #AAA;
}

.latest-results .date {
  text-align: center;
}

.latest-results .date-place {
  background-color: #333;
  padding: 15px 25px;
}

.latest-results hr {
  width: 50%;
  margin: 0;
}

.latest-results .date h1{
  margin-top: 10px; margin-bottom: 0; color: #FFF
}

.latest-results .date h2{
  margin-top: 0;
}

.latest-results .date h4{
  margin: 10px 10px; padding: 5px; position: absolute; left: -50%; top: 10%;
}

.latest-results .panel {
  background-color: rgba(0, 0, 0, 0.5)!important;
}

.latest-results .racer-panel {
  height: 100%;
  bottom: 0;
  color: #FFF;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #333 !important;
}

.table-borderless td,
.table-borderless th {
    border: 0 !important;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.navbar-wrapper .navbar-brand {
  height: 80px;
}

.navbar-wrapper .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-wrapper .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-default {
  background: rgba(0, 0, 0, 0.75) !important;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #2fb6c3;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2fb6c3;
  background-color: #000;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #2fb6c3;
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #2fb6c3;
  background-color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2fb6c3;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #2fb6c3;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #2fb6c3;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2fb6c3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2fb6c3;
    background-color: #000000;
  }
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#myCarousel .carousel-indicators li {
  position: relative;
  width: 100px;
  height: 8px;
  background-color: #888;
  border-radius: 0;
  border-width: 0;
}
#myCarousel .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;
  background: linear-gradient(to bottom, #00c8ff 0%, #12566a 100%);
  border-radius: 0;
  border-width: 0;
}

.carousel-caption {
  z-index: 10;
  background: rgba(0, 0, 0, 0.75) !important;
}

.carousel-caption .date-place {
  background: linear-gradient(to bottom, #00c8ff 0%, #12566a 100%);
  padding: 5px 25px;
  display: inline-block;
  left: 0;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


.carousel-inner > .item > .carousel-image {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: 50% 50%;
}

.carousel-inner > .item > a > span {
    position: absolute; 
    width: 100%;
    height: 100%;
    top:0;
    left: 0;

    z-index: 1;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* ADDITIONAL
-------------------------------------------------- */
.top-buffer {
  margin-top: 100px;
}

.bottom-buffer {
  margin-bottom: 25px;
}

/* VISIBILITY
-------------------------------------------------- */
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}