/* GLOBAL STYLES
-------------------------------------------------- */

html, body {
  height: 100%;
  color: #5a5a5a;
}

/* MAPBOX STUFF
-------------------------------------------------- */
#map {
    height: 100%;
    width: 50%;
}

#features {
    width: 50%;
    margin-left: 50%;
    font-family: sans-serif;
    background-color: #5a5a5a;
}

section {
    height: 100%;
    border-bottom: 1px solid #5a5a5a;
    opacity: 1;
    font-size: 13px;
}

section .inner-section {
  background-color: #252525;
  padding: 20%;
  text-align: center;
  vertical-align: middle;
}

.right-divider {
  border-right: 1px solid #444;
}

section > .inner-section h2, h3, h5 {
  color: #EAEAEA
}

section > .inner-section > h4 {
  color: #80E6BF
}

.inner-section > .table td {
  color: #EAEAEA
}

/* AFFIX STUFF
-------------------------------------------------- */
.affix-top {
  position: absolute;
}

.affix {
  top: 0px;
  width: 100%;
}

.affix-bottom {
  position: absolute;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.navbar-wrapper .navbar-brand {
  height: 80px;
}

.navbar-wrapper .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-wrapper .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-default {
  background-color: #222222;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #2fb6c3;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2fb6c3;
  background-color: #000;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #2fb6c3;
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #2fb6c3;
  background-color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2fb6c3;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #2fb6c3;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #2fb6c3;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2fb6c3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2fb6c3;
    background-color: #000000;
  }
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#myCarousel .carousel-indicators li {
  position: relative;
  width: 100px;
  height: 8px;
  background-color: #888;
  border-radius: 0;
  border-width: 0;
}
#myCarousel .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;
  background-color: #099FB8;
  border-radius: 0;
  border-width: 0;
}

.carousel-caption {
  z-index: 10;
  background: rgba(0, 0, 0, 0.6) !important;
}

.carousel-caption .date-place {
  background-color: #099FB8;
  padding: 5px 25px;
  display: inline-block;
  left: 0;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


.carousel-inner > .item > .carousel-image {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: 50% 50%;
}

.carousel-inner > .item > a > span {
    position: absolute; 
    width: 100%;
    height: 100%;
    top:0;
    left: 0;

    z-index: 1;
}

/* LATEST MEDIA
-------------------------------------------------- */
.latest-media {
  align-content: middle;
  background-color: #F0F0F0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* ADDITIONAL
-------------------------------------------------- */
.top-buffer {
  margin-top: 50px;
}

.bottom-buffer {
  margin-bottom: 25px;
}